<launch>
    <!-- 
        # 不使用 group
        /follow_joint_trajectory
        /move_group/status

        # 使用 group ns="left_arm"
        /left_arm/follow_joint_trajectory
        /left_arm/move_group/status  

        组内的参数只在组内有效
    -->
    <group ns="left_arm">
        <remap from="/follow_joint_trajectory" to="scaled_pos_traj_controller/follow_joint_trajectory"/>
        <include file="$(find ur5_e_moveit_config)/launch/move_group.launch">
            <arg name="limited" default="false"/>
            <!-- 是否使用关节限制 -->
            <arg name="debug" default="false" />
            <!-- 是否开启调试 -->
        </include>
    </group>

    <group ns="right_arm">
        <remap from="/follow_joint_trajectory" to="scaled_pos_traj_controller/follow_joint_trajectory"/>
        <include file="$(find ur5_e_moveit_config)/launch/move_group.launch">
            <arg name="limited" default="false"/>
            <arg name="debug" default="false" />
        </include>
    </group>

</launch>
